.container {
    margin: 1em  16em;
    padding: 1em 0;
    padding: 0;
    max-width: fit-content;
    font-family: sans-serif;
}
p {
    max-width: max-content;
    padding: 0;
}

img {
    height: 300px;
    width: 100%;
}


.title {
   color: red;
}

.author {
    color: red;
    margin-top: 20px;
}

.description {
    font-size: 18px;
    margin-bottom: 20px;
}

.sourceName {
    font-size: 19px;
    text-align: end;
}
.error {
    color: red
}